html{
    min-height:100%;
    min-width: 100%;
    margin:0;
    padding:0;
}

body{
	min-width: 100vw;
	min-height: 100vh;
	background-image: url("../images/background.png");
	margin: 0 0;
}

a:link, a:visited, a:active { 
	color: silver;
    text-decoration: none;
}

a:hover{
	color:#4aaaa5;
}


header {
	height:80px;
	width: 100%;
	background-color: white;
	border-bottom: 3px solid #C0C0C0;
}

.headerportfolio {
	height:80px;
	width: 100%;
	background-color: white;
	border-bottom: 3px solid #C0C0C0;
}

footer {
    min-width: 100%;
    background-color: #666666;
    border-top: 6px solid #4aaaa5;
    position: fixed;
    bottom: 0;
}

.contactfooter {
    min-width: 100%;
    background-color: #666666;
    border-top: 6px solid #4aaaa5;
    position: fixed;
    bottom: 0;
}

h1{
	margin: 0;
	float:left;
	color: white;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, "Times New Roman", serif;
}


li{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: medium;
	display:inline;
	color:#dddddd;
}

li:not(:first-child):before {
    content: "| ";
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	display:block;
	color: #777777;
}

h2, h3{
	color: #4aaaa5;
	text-align: left;
}

ul{
	padding-top: 37px;
}

/*section{*/
	/*padding-top: 50px;*/
/*}*/

nav{
	text-align: right;
}


textarea{
	height: 200px;
    width: 99%;
    border: solid silver 1px;
    font-size: medium;
}

input {
	width: 99%;
    height: 25px;
    font-size: medium;
    border: 1px solid silver;
}

hr{
	margin: 10px 0 30px 0;
 	background-color: lightgrey;
 	border: none;
}

.topofpage{
	width:960px;
	margin: 0 auto; /*  this trick can be used to center elements horizontally */
	height:100%;
}

.boxednav{
	margin-right: 89px;
	text-align: center;
	box-sizing: border-box;
	padding:20px;
	float:right;
	display: inline-block;
}

.name{
	box-sizing: border-box;
	padding:20px;
	background-color: #4aaaa5;
	float:left;
	text-align: center;
	top:0;
	height:100%;
}

.left{
	box-sizing: border-box;
	padding:20px;
	width:650px;
	float: left;
	border: 1px solid #dddddd;
	background-color: white;
}

.left > hr{
	height:3px;
}

.right{
	float:right;
	width: 270px;
	border: 1px solid #dddddd;
	background-color: white;
	box-sizing: border-box;
    padding: 23px;
}

.right > hr {
	height:2px;
}

.rightP{
	float:right;
	width: 270px;
	border: 1px solid #dddddd;
	background-color: white;
	box-sizing: border-box;
    padding: 23px;
}

.rightP > hr {
	height:2px;
}
 

.icon {
	display: inline-block;
	height:64px;
	width:64px;
}

#left-icon{
	float:left;
}

/*.right > a:last-child > img {*/
	/*float:right;*/
/*}*/

.copyright {
	padding-top: 10px;
	padding-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 12px;
}

.container{
	width:960px; 
	margin: 50px auto; /* you want the right/left margins to be auto in order to keep this element centered */
	display: block;    /* in order for the auto margin trick to work though, you need the element to be displayed as a block */
	overflow: auto;    /* these last two lines */
	clear: both;       /* are just for pushing the footer below the content */
}

.containerP {
	width:960px; 
	margin: 110px 160px;
	display:inline-block;
}

.containerC {
	width:960px; 
	margin: 110px 160px;
	display:inline-block;
	}

.form{
	display:inline-block;
	text-align: left;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
	font-size:larger;
	margin-bottom: 5px;
}

#submit{
	color: white;
    background-color: #4aaaa5;
    font-family:'Arial','Helvetica Neue', Helvetica, sans-serif;
    font-size: larger;
    width: 20%;
    height: 37px;
    border-width: 0;
}

.formspecs{
	width:640px;
	box-sizing: border-box;
    padding: 20px;
    display:inline-block;
	border: solid #dddddd 1px;
	background-color: white;
}

.formspecs > hr {
	height:3px;
}

.leftPortfolio {
	width:650px;
	box-sizing: border-box;
	padding:20px;
	float: left;
	border: 1px solid #dddddd;
	background-color: white;
}

.leftPortfolio > hr {
	height:3px;
}

.image-left {
	height:250px;
	width:275px;
	float:left;
	margin-bottom: 50px;
}

.image-right {
	height:250px;
	width:275px;
	float:right;
	margin-bottom: 50px;
}
.img-resize {
	height:250px;
	width:275px;
}

.wordbox {
    bottom: -177px;
    background-color: #4aaaa5;
    box-sizing: border-box;
    padding: .5px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    position: relative;
    bottom: 35%;
    height: 70px;
    width: 275px;
    text-align: center;
    line-height: 70px;
    color: #ffffff;
    font-size: larger;
}

.image-left:last-child {
	margin-bottom: 0;
}

#profile_pic {
	float: left;
    margin-right: 10px;
    margin-bottom: 2px;
    width: 300px;
    height: 270px;
}

@media screen and (min-width:981px) {
	body {
		display:inline-block;
	}
}


@media screen and (max-width:980px) {	

	header {
	    background-color: white;
	    width: 100%;
	    border-bottom: 3px solid #C0C0C0;
	    top: 0;
	    right: 0;
	    left: 0;
	}
	
	.headerportfolio {
		background-color: white;
	    width: 100%;
	    border-bottom: 3px solid #C0C0C0;
	    top: 0;
	    right: 0;
	    left: 0;
	}

	.contactfooter {
	    height: 10%;
	    display: inline-block;
	}

	.topofpage {
		height:100%;
		width:auto;
		margin-right: 2%;
   		margin-left: 2%;
	}

	/*footer {*/
	    /* width: 900%; */
	    /*background-color: #666666;*/
	    /*border-top: 6px solid #4aaaa5;*/
	    /* right: 0; */
	    /* left: 0; */
	/*}*/

	/*}*/

	.container {
		width: auto;
    	margin-right: 2%;
    	margin-left: 2%;
    	margin-bottom: 5%;
    	margin-top: 5%;
    	margin-bottom: 10%;
	}
	
	.containerP {
		width: auto;
	    margin-right: 2%;
	    margin-left: 2%;
	    margin-bottom: 10%;
	    margin-top: 5%;
	    display: block;
	}

	.containerC {
		width: auto;
	    margin-right: 2%;
	    margin-left: 2%;
	    margin-bottom: 5%;
	    margin-top: 5%;
	    display: block;
	}

	#profile_pic {
	    display:inline-block;
	    margin-bottom: 2px;
	    width: 100%;
	    height: 70%;
	}

	.left {
	    box-sizing: border-box;
	    padding: 20px;
	    width: 60%;
	    float: left;
	    height: auto;
	    border: 1px solid #dddddd;
	    background-color: white;
	 }

	.right {
		float:right;
		width: auto;
		border: 1px solid #dddddd;
		text-align: center;
		background-color: white;
		box-sizing: border-box;
	    padding: 23px;
	}

	.rightP {
		float:right;
		width: auto;
		border: 1px solid #dddddd;
		text-align: center;
		background-color: white;
		box-sizing: border-box;
	    padding: 23px;
	    margin-right: 4%;
	}

	.rightP > hr {
		height:2px;
	}


	 p {
	 	text-align: left;
	 	line-height: 180%;
	 }


	 /*Now here are the portfolio rules*/
	
	.leftPortfolio {
		width:auto;
		margin-bottom: 10%;
	}
	

	 .image-left {
	 	float: none;
	 }

	 .image-right {
	 	float:none;
	 }

	/*rules for the contact page*/

	.formspecs {
		width:60%;
	}

	


@media screen and (max-width: 768px) {

	header {
	    background-color: white;
	    position: static;
	    border-bottom: 3px solid #C0C0C0;
	    top: 0;
   }

   .headerportfolio {
   		position: static;
   }
	
	footer {
		position: static;
    	display: inline-block;
	}

   .topofpage {
	   	width: auto;
	   	position:static;
	   	height: 100%;
	    margin-left: 20px;
	    margin-right: 20px;
   }

   .name {
   		position:static;
   }

   ul {
   		margin-top: 0;
   }

   .container {
	    width: auto;
	    margin-bottom: 0%;
	}

	.containerP {
	    width: auto;
	    margin-left: 20px;
	    margin-right: 20px;
	    margin-top: 5%;
	    margin-bottom: 0;
	}
	

	.containerC {
	    width: auto;
	    margin-left: 20px;
	    margin-right: 20px;
	    margin-top: 40px;
	    margin-bottom: 0;
	}


	/**footer {
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    height: 80px;
	    width: 100%;
	    background-color: #666666;
	    border-top: 6px solid #4aaaa5;
	}**/

	section {
		padding-top: 0;
	}


	.left {
		width:100%;
		margin-bottom: 15px; 
	}

	#profile_pic {
	    display:inline-block;
	    margin-bottom: 10px;
	    width: 100%;
	    height: 40%;
	}

	.right {
		width: 100%;
		margin-bottom: 10%;
	}

	.right > a:last-child > img {
		float:left;
	}

	.rightP {
		width: 100%;
		margin-bottom: 10px;
		margin-right: 0%;
		text-align: left;
	}

	.rightP > a:last-child > img {
		float:left;
	}


	.icon {
		float:left;
	}

	.right > h3 {
		text-align: left;
	}

	p {
	 	text-align: left;
	 	display:inline-block;
	 	line-height: 180%;
	 }

	 .copyright {
		margin-top: 35px;
	 }

	/*these are rules for the portfolio page*/

	.image-left {
		float:left;
	}

	.image-right {
		float:right;
	}
	
	.leftPortfolio {
		margin-bottom: 20px;
	}

	/*rules for contact page*/
	.formspecs {
	    margin-bottom: 20px;
	    width: 100%;
	}

	.contactfooter {
	    position: static;
	    height: 10%;
	    display: inline-block;
	}

}

@media screen and (max-width: 640px) {

	header {
	    background-color: white;
	    position: static;
	    clear:both;
	    margin-bottom: 28px;
	    border-bottom: 3px solid #C0C0C0;
   }

   .headerportfolio {
   		position: static;
   }

    footer {
   		position: relative;
    }


	nav {
		text-align: center;
		display: inline-block;
		width: 100%;
	}

	section {
		padding-top:0;
		display: inline-block;
	}

	ul {
		background: white;
	    margin-top: 0;
	    padding:10px;
	    padding-left: 0;
	    padding-right: 0;
	    width: 100%;
	    margin-top: 0;
	    height: auto;
	}
	.name {
	    width: 100%;
	    height: auto;
	    margin-right: 0;
	    text-align: center;
	}

	.topofpage {
		margin-left: 0;
	    margin-right: 0;
	    width: auto;
	    height: auto;
	    position: static;
	}

	/**footer {
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    height: 80px;
	    width: 100%;
	    background-color: #666666;
	    border-top: 6px solid #4aaaa5;
	}**/

	.container {
		width: auto;
	    display: block;
	    margin-bottom: 4%;
	    display: block;
	    margin-top: 10%;
	    margin-left: 20px;
	    margin-right: 20px;
	}

	.containerP {
		width:auto;
		display:block;
		margin-bottom: 4%;
		display: block;
		margin-top: 10%;
		margin-left: 20px;
		margin-right: 20px;
	}

	.containerC {
		width:auto;
		display:block;
		margin-bottom: 0;
		display: block;
		margin-top:10%;
		margin-left: 20px;
		margin-right: 20px;
	}

	.left {
		width: 100%;
		margin-bottom: 20px;
	}

	#profile_pic{
	    display:inline-block;
	    margin-bottom: 10px;
	    width: 100%;
	    height: 70%;
	}

	.right {
		width: 100%;
		margin-bottom: 20%;
	}

	.right > a:last-child > img {
    	float: left;
    }

    .rightP {
		width: 100%;
		margin-bottom: 10px;
	}

	.rightP > a:last-child > img {
    	float: left;
    }

	p {
	 	text-align: left;
	 	display: inline-block;
	 	line-height: 180%;
	 }


	 /*rules for portfolio page*/

	.image-left {
		float:none;
	}

	.image-right {
		float:none;
	}

	.leftPortfolio {
		width:auto;
		float: none;
	}

	.li-1 {
		float: left;
   		margin-left: 50px;
	}

	.li-2 {
		float:right;
		margin-right: 50px;
	}
	
	li:not(:first-child):before {
    content: " ";

}